* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("image/wp2623586-darth-vader-desktop-4k-wallpapers.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

.questionarea {
    color: #4A0C0C;
    max-width: 200px;
    height: 200px;
    /* background-image: url("image/vader saber hilt.png"); */
    background-color: transparent;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    transition: all 1s;
    cursor: pointer;
}
.questionarea:focus:not(.questionarea3){
    transform: rotate(79999999999999200deg);
}
.questionarea2 {
    transform: rotate(7200deg);
    width: 100%;
}