* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Global-start */



.ortala {
    text-align: center;
}

.kucukbaslik {
    font-size: 1.25rem;
}

.ortabaslik {

    font-size: 1.5rem;
}

.buyukbaslik {
    font-size: 1.75rem;
}

/* Global-end */
a {
    text-decoration: none;
    color: white;
}

/* menu */
#minimenu {
    display: none;
}

.container #menu {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 0.75rem;
    height: 70px;

}

.container #menu ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.container #menu ul li a {
    padding: 0.75rem;
}

.container #menu ul li a:hover {
    border: 1px solid white;
    border-radius: 4px;
}

.container #menu #eng {
    display: inline;
}

#bas {
    position: relative;
    z-index: -1;
    background-image: url('../images/Headerbgimg.png');
    width: 100%;
    height: 1081px;
    background-size: contain;
    background-repeat: no-repeat;
}

.container {

    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: baseline;
}

.container,
.logo {
    color: yellow;
    font-size: 2.5rem;
    justify-content: space-around;
}



.container #menu ul li #giris {
    display: block;
    background: yellow;
    margin-top: 0.5rem;
}

#orta #aramadis {
    width: 50%;
    height: 250px;
    position: absolute;
    z-index: 2;
    top: 25%;
    left: 25%;
    right: 25%;
}

#orta #aramadis #arama form.search {
    display: flex;
    margin-top: 3rem;
}

#orta #aramadis #arama form.search input {
    height: 3rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
    padding: 1rem;
    flex: 1;
    outline: 0;
    position: absolute;
    z-index: 3;
    left: 5%;
    right: 10%;
}

#orta #aramadis #arama form.search button {
    height: 3rem;
    padding: 0 2rem;
    background: yellow;
    color: #000;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    color: #000;
    font-size: 1.25rem;
    font-weight: 500;
    border: none;
    position: absolute;
    right: 2%;

}

#arama {

    width: 100%;
    height: 100%;
    background: rgba(000, 000, 000, 0.5);
    padding: 00.75rem;
}

#aramadis #arama p {
    position: relative;
    z-index: 3;
    color: #fff;
    text-align: center;
}

#bas #kurslar {
    position: absolute;
    width: 100%;
    height: 1081px;
    top: 97%;
    background: #dbdbdb;
}

#bas #kurslar #kurs {
    display: flex;
    width: 100%;
    height: 300px;

}

#bas #kurslar #kurs .kurslar {
    position: absolute;
    z-index: 2;
    top: 10%;
    width: 15%;
    height: 238px;
    background-color: #fff;
    border-radius: 5%;
}

#bas #kurslar #kurs #kurs1 {
    left: 10%;

}

#bas #kurslar #kurs #kurs2 {

    left: 30%;
}

#bas #kurslar #kurs #kurs3 {
    left: 50%;
}

#bas #kurslar #kurs #kurs4 {
    left: 70%;
}

#bas #kurslar #kurs .kurslar .gorsel {
    width: 10%;
}

#bas #kurslar #kurs #kurs1 #flag1 {
    width: 125px;
}

#bas #kurslar #kurs #kurs2 #flag2 {
    margin-top: 25px;
    margin-left: 25px
}

#bas #kurslar #kurs #kurs3 #flag3 {
    width: 125px;
}

#bas #kurslar #kurs #kurs4 #flag4 {
    position: absolute;
    width: 180px;
    left: -25px;
    top: -25px;
}

#bas #kurslar #kurs .diller {
    position: absolute;
    top: 25%;
    font-size: 1.5rem;
    left: 50%;
}

#bas #kurslar #kurs .aciklama {
    position: absolute;
    top: 60%;
    left: 5%;
}

#bas #orta2 {
    width: 100%;
    height: 640px;
    position: absolute;
    z-index: 2;
    top: 140%;
}

#bas #orta2 #popders h1.ortala {
    margin: 3rem;
}

#bas #orta2 #popders #dersler .dersler {
    position: absolute;
    height: 396px;
    width: 16%;
    background-color: #fff;
}

#bas #orta2 #popders #dersler .dersler p {
    opacity: 0.6;
}

#bas #orta2 #popders #dersler #ders1 {
    left: 10%;
}

#bas #orta2 #popders #dersler #ders2 {
    left: 39%;
    width: 21%;
    height: 450px;
    top: 15%;
}

#bas #orta2 #popders #dersler #ders3 {
    left: 70%;
}

#bas #orta2 #popders #dersler .dersler img {
    position: absolute;
    left: 4%;
    top: 5%;
}

#bas #orta2 #popders #dersler .dersler img#gorsel2 {
    position: absolute;
    left: 6% !important;
}

#bas #orta2 #popders #dersler .dersler .dilaciklama {
    position: absolute;
    top: 60%;
    left: 4%;
    font-size: 1.75rem;
    font-weight: 900;
}

div#cizgi {
    position: absolute;
    top: 70%;
    left: 5%;
    background: rgba(0, 0, 0, 0.1);
    width: 80%;
    height: 1px;
}

i.fa-user {
    position: absolute;
    font-size: 1.25rem;
    top: 75%;
    left: 10%;
    color: rgba(0, 0, 0, 0.3);
}

img.fa-message {
    margin-top: 100% !important;
    margin-left: 50%;
}

span.mesajsayi{
    color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 75%;
    left: 65%;
    font-size: 1.25rem;
}
#bas #orta2 #popders #dersler #ders2 img.fa-message {
    margin-top: 80% !important;
}

#bas #orta2 #popders #dersler button.satinal {
    color: #ddd;
    background: red;
    border: 0px;
    border-radius: 5px;
    height: 43px;
    width: 30%;
    font-size: 1.25rem;
    position: absolute;
    top: 85%;
    left: 15%;
}
div#dot{
    position: absolute;
    top: 90%;
    left: 48%;
}
span.fiyat{
    color: #fff;
    background: red;
    height: 43px;
    width: 30%;
    text-align: center;
    padding-top: 2%;
    font-size: 1.25rem;
    border-radius: 2rem;
    position: absolute;
    z-index: 1;
    left: 5%;
  }
  #bas #orta2 #popders #dersler i.fa-angle-right, i.fa-angle-left{
    font-size: 5rem;
    position: absolute;
    top: 40%;
    display: none; 
    opacity: 0.3;
  }
  #bas #orta2 #popders #dersler i.fa-angle-right{
   left: 60%;
  }
  #bas #orta2 #popders #dersler i.fa-angle-left{
    left: 37%;
   }
   .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  #reddot{
    background: red;
  }
  #dots{
    display: none; 
    position: absolute;

    left: 48%;
    top: 38%;
  } 
@media only screen and (max-width:780px) {


    #orta #aramadis {
        top: 20%;
        width: 70%;
        height: 20%;
        left: 15%;
    }

    #orta#aramadis #arama p {
        font-size: 1.75rem;
    }

    #orta #aramadis #arama form.search input {
        height: 2rem;
        font-size: 1rem;
        padding: 0.2rem;
        left: 10%;
        right: 20%;
    }

    #orta #aramadis #arama form.search button {
        width: 3.25rem;
        height: 2rem;
        padding: 0 0.75rem;
        font-size: 1rem;
        font-weight: 500;
        position: absolute;
        right: 10%;
    }
}

@media only screen and (max-width:686px) {


    #orta #aramadis {
        top: 10%;
        width: 70%;
        height: 10%;
        left: 15%;
    }

    #orta #aramadis #arama p {
        font-size: 1.25rem;
    }

    #orta #aramadis #arama form.search input {
        height: 2rem;
        font-size: 1rem;
        padding: 0.2rem;
        left: 15%;
        right: 15%;
    }

    #orta #aramadis #arama form.search button {
        width: 2.25rem;
        height: 2rem;
        padding: 0 1rem;
        font-size: 1rem;
        font-weight: 500;
        position: absolute;
        right: 7%;
    }
}


@media only screen and (max-width:1863px){
  
#bas #orta2 {
    top: 115%;
   } 
   #bas #kurslar{
    top: 85%;
    height: 900px;
  
}
img.fa-message {
    margin-top: 93% !important;
}
}
@media only screen and (max-width:1839px) { 

    #bas #kurslar #kurs #kurs1, #kurs3, #kurs4 {
     display: none;
    }
    #bas #kurslar #kurs #kurs2 {
        left: 42%;
    }
    
    #bas #orta2 #popders #dersler #ders1,#ders2 {
     display: none;
    }
    #bas #orta2 #popders #dersler #ders3 {
        left: 42%;
     }
     #bas #orta2 #popders #dersler #ders3 #gorsel3 {
        width: 90%;
        left: 5%;
     }
     #bas #orta2 #popders #dersler i.fa-angle-right, i.fa-angle-left{
        display: block;
      }
      #dots{
   display: block;
  } 
}
@media only screen and (max-width:1817px) {
    img.fa-message {
        margin-top: 96% !important;
    }
}
@media only screen and (max-width:1793px) {
    img.fa-message {
        margin-top: 97% !important;
    }
}
@media only screen and (max-width:1755px) {
    img.fa-message {
        margin-top: 99% !important;
    }
}
@media only screen and (max-width:1693px) {
    img.fa-message {
        margin-top: 103% !important;
    }
}
@media only screen and (max-width:1677px) {
    img.fa-message {
        margin-top: 105% !important;
    }
}
@media only screen and (max-width:1643px) {
    img.fa-message {
        margin-top: 106% !important;
    }
    #bas #kurslar{
        top: 83%;
        height: 870px;  
    }
}
@media only screen and (max-width:1600px) {
    img.fa-message {
        margin-top: 110% !important;
    }
}
@media only screen and (max-width:1592px) {
    #bas #kurslar{
        top: 82%;
        height: 810px;  
    }
    #bas #kurslar #kurs{
      position: absolute;
      top: 1%;
    }
    #dots{
        top:95% !important;
      } 
    

    
#bas #orta2 {
    top: 110%;
}
#bas #orta2 #popders h1.ortala {
    margin: 2rem;
}
}
@media only screen and (max-width:1570px) {
    #bas #kurslar{
        top: 80%;
        height: 825px;  
    }
     img.fa-message {
        margin-top: 112% !important;
    } 
}
@media only screen and (max-width:1538px) {
    #bas #kurslar{
        top: 79%;
        height: 800px;  
    }
    img.fa-message {
        margin-top: 100% !important;
    } 
    #bas #orta2 #popders #dersler #ders3 {
        height: 350px;
    }
}
@media only screen and (max-width:1513px) {
    #bas #kurslar{
        top: 78%;
    }  
    img.fa-message {
        margin-top: 104% !important;
    } 
}
@media only screen and (max-width:1492px) {
    #bas #kurslar{
        top: 76%;
        height: 750px;  
    }  
    #bas #orta2 {
        top: 103%;
    }
}
@media only screen and (max-width:1460px) {
    #bas #kurslar{
        top: 75%;
        height: 750px;  
    }  
    #bas #orta2 {
        top: 102%;
    }
}
@media only screen and (max-width:1439px) {
    #bas #kurslar{
        top: 70%;
        height: 740px;  
    }  
    #bas #orta2 {
        top: 96%;
    }
}

@media only screen and (max-width:1851px) {
    
    #bas #orta2 #popders #dersler #ders2 img.fa-message {
        margin-top: 82% !important;
    }
}
@media only screen and (max-width:1848px) {
    
#bas #orta2 #popders #dersler .dersler img {
    left: 3%;
    top: 5%;
}

#bas #orta2 #popders #dersler .dersler img#gorsel2 {
    left: 6% !important;
}

    #bas #orta2 #popders #dersler #ders2 img.fa-message {
        margin-top: 81% !important;
    }
}
@media only screen and (max-width:1214px) {
    .container .logo {
        display: flex;
        font-size: 2.5rem;
        position: absolute;
        left: 40%;
        top: 3%;

    }

    .container #menu {
        display: none;
    }

    #minimenu {
        position: absolute;
        top: 3%;
        left: 5%;
        padding: 0.25rem;
        background: yellow;
        color: #000;
        font-size: 2rem;
        display: block;
        z-index: 2;
        width: 2.25rem;
    }


}

@media only screen and (max-width:494px) {

    #orta #aramadis {
        height: 125px !important;
    }

    #orta #aramadis #arama p {
        font-size: 1rem;
    }

    .container .logo {
        top: 0.5rem;
    }

    #minimenu {
        top: 0.5rem;
    }

    #orta #aramadis #arama form.search button {
        font-size: 1rem;
        font-weight: 500;
        padding: 0;
        right: 5% !important;
    }

}

@media only screen and (max-width:296px) {
    #orta #aramadis #arama {
        padding: 0.50rem;
    }

    #orta #aramadis #arama form.search input {
        height: 0.50rem !important;
        font-size: 0.65rem !important;
        padding: 0.65rem !important;
        left: 15%;
        right: 20%;
    }

    #orta #aramadis #arama form.search button {
        height: 1.4rem !important;
    }

    #minimenu {
        font-size: 1rem !important;
        width: 8%;
    }
}

@media only screen and (max-width:413px) {

    #orta #aramadis {
        height: 100px !important;
        top: 5%;
    }

    .container .logo {
        top: 0.5rem;
    }

    #minimenu {
        top: 0.5rem;
    }

    #orta #aramadis #arama form.search input {
        height: 0.75rem;
        font-size: 1rem;
        padding: 0.75rem;
        left: 15%;
        right: 20%;
    }

    #orta #aramadis #arama p {
        font-size: 0.75rem;
    }

    #orta #aramadis #arama form.search button {
        height: 1.65rem;
        font-size: 1rem;
        font-weight: 400;
        padding: 0;
        right: 7% !important;
    }
}


@media only screen and (max-width:442px) {

    .container .logo,
    #minimenu {

        font-size: 1.5rem;
    }

    .container #menu {
        display: none;
    }
}

@media only screen and (max-width:1631px) {

    #orta #aramadis {
        width: 70%;
        height: 170px;
        left: 15%;
    }

    #orta #aramadis #arama form.search {
        margin-top: 1rem;
    }
}

@media only screen and (max-width:1037px) {
    #orta #aramadis #arama form.search button {
        right: 10%;
    }
}

@media only screen and (max-width:1915px) {}